.container {
  background-color: #282c34;
  display: flex;
  min-height: 98vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App {
  text-align: center;
}

.header {
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-stretch: 200%;
  font-size: 2rem;
}

.square {
  background: #999;
  float: left;
  font-weight: bold;
  height: 100px;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

/*.square:active {
  background-color: rgb(10, 182, 10);
}*/

.startButton {
  background-color: #62fe52;
  font-size: 32pt;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #282c34;
  border: 0;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.startButton:hover {
  background-color: #22bb42;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
